{% extends "base.html" %}

{% block content %}
	{% verbatim %}
	<div id="book-details" ng-app="app" ng-controller="books_ctrl">
		<table class="table table-bordered">
			<tr>
				<th>ISBN</th>
				<th>Title</th>
				<th>Author</th>
				<th>Published</th>
				<th>Genre</th>
				<th>Stock</th>
				<th>Issued</th>
			</tr>
			<tr ng-repeat="book in books">
				<td ng-repeat="property in book.fields">{{ property }}</td>
			</tr>
		</table>

		<div class="btn-group">
			<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#book-submission">Add</button>
			<button type="button" class="btn btn-primary">Edit</button>
			<button type="button" class="btn btn-primary">Delete</button>
		</div>
	{% endverbatim %}

		<div id="book-submission" class="collapse">
			<form method="POST">
				{% csrf_token %}
				<div class="form-group">
					<table>
					{% for field in book_form %}
						<tr>
							<th>{{ field.label_tag }}</th>
							<td>{{ field }}</td>
							<td>
								<span class="bg-danger" ng-bind="error_{{ field.name }}">
								</span>
							</td>
						</tr>
					{% endfor %}
					</table>
				</div>
				<input type="submit" name="book-submit" ng-click="add_book()">
			</form>
		</div>
	</div>
{% endblock %}